.hero {
  height: 100vh;
  max-width: 100vw;
  position: relative;
}
.hero-mid {
  height: 70vh;
  max-width: 100vw;
  position: relative;
}
.hero-mid h1 {
  padding-top: 4rem !important;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  text-align: center;
}
.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.hero-text p {
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5rem 0 2rem 0;
}
.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #635d5d;
}
.hero-text .show {
  /* display: none; */
}
@media screen and (max-width: 1195px) {
  .hero-text h1 {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 998px) {
  .hero-text h1 {
    font-size: 2rem;
    font-weight: 800;
  }
}
@media screen and (max-width: 795px) {
  .hero-text h1 {
    font-size: 1.8rem;
  }
  .hero-text p {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
}
@media screen and (max-width: 885px) {
  .hero-text h1 {
    padding: 10px 20px;
  }
  .hero-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }
  .hero-text .show {
    padding: 0.6rem 1.1rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 436px) {
  .hero-text p {
    font-size: 17px;
  }
}
